.tabs .active {
  font-weight: bold;
}

div.tab-pane {
  /*opacity: 1;*/
  transition: opacity 1000;
  display: none;
}

div.tab-pane.transitioning {
  opacity: 0;
  display: block;

}


div.tab-pane.active {
  display: block;
  opacity: 1;

}

div.tab-pane