.tabs .active {
  font-weight: bold;
}

div.tab-pane {
  opacity: 0;
  display: block;
  transition: opacity, 1000;
}

div.tab-pane.active {
/*  display: block;*/
  opacity: 1;
  transition: opacity, 1000;
}